JELLYFIN_URL=http://jellyfin:8096
TMDB_API_KEY=replace_with_tmdb_api_key

JELLYSEERR_URL=http://jellyseerr:5055
JELLYSEERR_API_KEY=replace_with_jellyseerr_api_key

LAZYLIBRARIAN_URL=http://lazylibrarian:5299
LAZYLIBRARIAN_API_KEY=replace_with_lazylibrarian_api_key

LISTENARR_URL=http://listenarr:8787
LISTENARR_API_KEY=replace_with_listenarr_api_key
